:root {

    --primary:#119944;
    --primary-hover:#008833;

    /*--primary:#FF0000;
    --primary-hover:#DD0000;*/

    --secondary:#88CC44;
    --secondary-hover:#77BB33;

    --muted:#888888;
}


/* Font Nunito */
@font-face {
  font-family: 'Nunito';
  src: url('/styles/fonts/nunito/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Nunito';
  src: url('/styles/fonts/nunito/Nunito-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito';
  src: url('/styles/fonts/nunito/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Nunito';
  src: url('/styles/fonts/nunito/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 900;
}



/* Font Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('/styles/fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/styles/fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('/styles/fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


/* Font Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('/styles/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/styles/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/styles/fonts/montserrat/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}



/* Font Museo */
@font-face {
  font-family: 'museo';
  src: url('/styles/fonts/museo_sans/MuseoSans-300.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'museo';
  src: url('/styles/fonts/museo_sans/MuseoSans-500.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'museo';
  src: url('/styles/fonts/museo_sans/MuseoSans-500.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}




/* Font SBB */
@font-face {
  font-family: 'SBB';
  src: url('/styles/fonts/sbb/SBBWeb-Thin.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'SBB';
  src: url('/styles/fonts/sbb/SBBWeb-Bold.ttf') format('truetype');
  font-weight: bold;
}

/*@font-face {
  font-family: 'SBB';
  src: url('/styles/fonts/sbb/SBBWeb-SemiBold.ttf') format('truetype');
  font-weight: 800;
}*/

/*@font-face {
  font-family: 'SBB';
  src: url('/styles/fonts/sbb/SBBWeb-ExtraBold.ttf') format('truetype');
  font-weight: 900;
}*/


h1, h2, h3, h4, h5, h6, label {
  color: var(--muted);
}

body {
  font-family: /*"SBB",*/ "museo" , "Nunito", "Montserrat", "Roboto", "Open Sans", system-ui, sans-serif;
  line-height: 1.6;
  font-size: 14px;
}

p {
  text-align: justify;
  line-height: 1.8;
}

a {
  color: var(--primary);
}
a:hover {
  color: var(--primary-hover);
}


header ul.navbar-nav li.nav-item a.nav-link {
  font-size: 17px;
  color: var(--muted);
  border-bottom: 3px solid white;
}
header ul.navbar-nav li.nav-item:hover a.nav-link {
  color: var(--primary) !important;
}

a.nav-link.active {
  color: var(--primary) !important;
  /*font-weight: bold;*/
}
header a.nav-link.active {
  padding-bottom: 12px;
  border-bottom: 2px solid var(--primary) !important;
}

main {
  margin-top: 60px;
  min-height: 60vh;
}

a:focus {
  outline: none;
}


figure {
  margin-bottom: 0;
}

h2 + hr {
  border: 1px solid black;
  width: 10%;
}
.bg-gradient h2 + hr {
  border-color: white;
}

[role=button] {
  cursor: pointer;
}

form h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #777;
}


/*.input-group > input {
  border-left: 0;
}*/

.text-muted {
  color: var(--muted);
}

.bg-primary {
  background-color: var(--primary) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-gradient {
  background: linear-gradient(to right,var(--primary),var(--secondary));
}

main section h1.display-4 {
  font-weight: inherit;
}


.input-group-circle {
  border-radius: 20px;
}


/*------------------------------------
  Highlight Color
------------------------------------*/
::-moz-selection {
  color: white;
  background-color: var(--primary);
}

::selection {
  color: white;
  background-color: var(--primary);
}

.bg-primary ::-moz-selection {
  color: var(--primary);
  background-color: white;
}

.bg-primary ::selection {
  color: var(--primary);
  background-color: white;
}


/*----------------------------------
  Buttons
------------------------------------*/
.btn {
  cursor: pointer;
  transition: .2s ease;
}

.btn.focus,
.btn:focus .btn.active:focus, .btn:active:focus {
  outline: 0 none;
  box-shadow: none;
  border-color: transparent;
}

.btn-primary {
  background-color: var(--primary);
  border: 0;
}
.btn-secondary {
  background-color: var(--secondary);
  border: 0;
}
.btn-primary:hover {
  background-color: var(--primary-hover);
  border: 0;
}
.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
}
.btn-outline-primary:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}

.btn-outline-secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}
.btn-outline-secondary:hover {
  background-color: var(--secondary-hover);
  border-color: var(--secondary-hover);
}


.btn-secondary:hover {
  background-color: var(--secondary-hover);
  border: 0;
}

.btn-gradient {
  background: linear-gradient(to right,var(--primary),var(--secondary));
  border: none;
  border-radius: 20px;
  color: white;
}
.btn-gradient:hover {
  background: linear-gradient(to right,var(--primary-hover),var(--secondary-hover));
  transition: background 0.5s; 
  color: white;
}

.btn-link {
  color: #55aaff;
}

.btn-link:hover {
  color: #55aaff;
}

/* Bootstrap's Custom Controls */
.custom-control-input.is-valid:checked ~ .custom-control-label::before {
  background-color: #0dd157;
}

.custom-control-input.is-invalid:checked ~ .custom-control-label::before {
  background-color: #fb4143;
}

.custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: #d5d7dc;
}


/*----------------------------------
  Header
------------------------------------*/
@media (max-width: 767px) {
  .navbar-expand-sm.fixed-top {
    background-color: rgba(27, 30, 36, 0.3);
  }
}

@media (max-width: 991px) {
  .navbar-expand-md.fixed-top {
    background-color: rgba(27, 30, 36, 0.3);
  }
}

@media (max-width: 1199px) {
  .navbar-expand-lg.fixed-top {
    background-color: rgba(27, 30, 36, 0.3);
  }
}

.navbar-bg-onscroll.fixed-top {
  background-color: #66bbff;
  transition: all .3s ease-out;
}

.navbar-bg-onscroll.fixed-top--fade {
  transition: all .4s ease-out;
}


label {
  margin: 0;
  text-transform: uppercase;
}


/* ******** FOOTER ********  */
footer.bg-dark li a,
footer.bg-dark li a:visited,
footer.bg-dark a:link,
footer.bg-dark a:active {
  padding: 10px 5px 10px 5px;
  color: #DDDDDD;
}

footer.bg-dark li a:hover {
  color:white;
  text-decoration:none;
}

img {
  max-width: 100%;
}


pre {
  padding: 10px;
  background-color: #eeeeee;
}

aside nav {
  padding: 25px;
  padding-bottom: 0;
}

aside li:hover {
  background-color: #f8f8f8;
  color: #55aaff;
}
aside li:hover a {
  text-decoration: none;
  color: #55aaff;
}

/*header ul.navbar-nav li.nav-item a.nav-link{*/
aside nav a.nav-link{
  color: var(--muted) !important;
}
aside nav a.nav-link.active{
  border-color: var(--primary) !important;
}



@media print {
    header, footer, aside {
      display: none !important;
    }
}


/*.input-group-text {
  background-color: white;
}
.input-group-text:disabled {
  background-color: #e9ecef !important;
}*/

/*.polygone {
  -webkit-clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 96%);
  clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 96%);
  width: 100%;
}*/


header .btn .feather,
.input-group-text .feather{
  width: 18px;
  height: 18px;
}

.bottom-link {
  display: block;
  background-color: black;
  z-index: 1001;
  position: fixed !important;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  bottom: 20px;
  right: 20px;
  overflow: visible;
  color: white;
  text-align: center;
  line-height: 37px;
}


.flag {
  border-radius: 2px; 
  margin-top: -2px !important;
  height: 15px;
  max-width: 25px !important;
}


table.dataTable tbody td {
  padding: 5px 10px !important;
}



.header-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-wrap .account-item > .content {
        display: none;
    }
}

@media (max-width: 991px) {
    .header-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .header-wrap .mess-dropdown {
        left: 0;
    }

    .header-wrap .mess-dropdown::before {
        left: 0;
    }

    .header-wrap .notifi-dropdown {
        left: -83px;
    }

    .header-wrap .notifi-dropdown::before {
        left: 79px;
    }
}

.header-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 991px) {
    .header-button {
        /*margin-top: 30px;*/
        width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}


header .dropdown-menu {
  min-width: 20rem;
}

a:hover {
  text-decoration: none;
}

.right-arrow {
  background-color: #888;
  padding: 15px 0;
  -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}


.input-group.squared {
  border-radius: 0px;
  border: solid 3px #dddddd;
}
.input-group.squared > input {
  border: none;
  border-radius: 0px;
  background-color: transparent;
  font-weight: 600;
}





#clockdiv{
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
}



.panel{
  background-color: blue;
  padding: 15px 10px 5px 30px;
  color: white;
  text-align: right;
  font-size: 24px;
  max-width: 320px;
}





.societe_blason {
  width: 140px;
  margin-bottom: 12px;
}




#responsive_menu_dropdown a.dropdown-item {
    padding: 15px;
} 





ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #119944;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}


